<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="head">
	<title>분실물정보공유-오다주웠다</title>
</th:block>
<body>
<th:block layout:fragment="header" th:include="@{/fragments/mainHeader}"></th:block>
<th:block layout:fragment="nav" th:include="@{/fragments/nav}"></th:block>
<th:block layout:fragment="ad" th:include="@{/fragments/ad}"></th:block>
<div class="container">
	<h2 class="board-title" th:text="${board_tit}">리스트</h2>
	<div class="board-form">
		<table class="table table-hover" id="search-list">
		  <thead>
		    <tr>
		      <th scope="col" width="5%">no</th>
		      <th scope="col" width="50%">제 목</th>
		      <th scope="col" width="15%">글쓴이</th>
		      <th scope="col" width="20%">작성일</th>
		      <th scope="col" width="10%">조회</th>
		    </tr>
		  </thead>
	
		  <tbody>
		    <tr th:each="board:${boards}">
		      <th th:text="${board.boardid}"></th>
		      <td id="search-title">
		      	  <a th:href="@{/board/view-board/{boardid} (boardid=${board.boardid})}" th:text="${board.title}"></a>
		      	  <span th:text="'~('+${board.recnt}+')'" class="recnt" th:if="${board.recnt != 0}"></span>
		      	  <img src="/images/complete.png" th:if="${board.complete == 1}" class="find-sticker">
		      </td>
		      <td th:text="${board.name}"></td>
		      <td th:text="${board.timestamp}"></td>
		      <td th:text="${board.hit}"></td>
		    </tr>
		  </tbody>
		</table>
		
		<div class="pageContainer">
			<a th:href="@{'/board/search-list'(page=0, areacode=${param.areacode}, items=${param.items},text=${param.text})}" class="pageBack"><img src="/images/back.png"></a>
			<div th:each="page : ${#numbers.sequence(startPage, endPage)}" class="pageBlock">
				<a th:if="${page != nowPage}" th:href="@{'/board/search-list'(page=${page-1}, areacode=${param.areacode}, items=${param.items},text=${param.text})}" th:text="${page}" class="pageNum"></a>
				<strong th:if="${page == nowPage}" th:text="${page}" class="nowPageNum"></strong>
			</div>
			<a th:href="@{'/board/search-list'(page=${lastPage-1}, areacode=${param.areacode}, items=${param.items},text=${param.text})}" class="pageForward"><img src="/images/forward.png"></a>
		</div>
		
		<div class="board-button" id="add-board-btn2">
		    <a class="btn btn-secondary" href="/board/add-board" th:id="${session.sId != null}? '' : 'hid-add-board-btn2'">글작성</a>
		</div>
	</div>
		
	<form role="form" action="/board/search-list" method="get" class="board-form" id="search-form2">	
		<input type="hidden" name="areacode" th:value="${board_areacode}">
		
		<div class="search">
	  	    <div class="search1">
			    <select name="items" class="form-select search-select">
			        <option value="subject">제목</option>
			        <option value="content">본문</option>
			        <option value="name">글쓴이</option>	      
			   </select>
		    </div>
		    <div class="search2">
			    <input type="text" name="text" class="form-control" id="selectInput">
			    <p th:text="${searchError}" class="search-error"></p>
		    </div>
		    <div class="search3">
			    <input type="submit" class="btn btn-secondary" value="검색">
		    </div>
		</div>
	</form>	
</div>	
</body>

</html>